@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #000000;
    font-size: 15px;
    line-height: 28px;
    font-style: normal;
    font-family: "Roboto", sans-serif;
}


.header {
    padding: 80px 23px 409px 32px;
}
h1 {
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 30px;
}
h3 {
    text-transform: uppercase;
    font-weight: normal;
    letter-spacing: 0.06em;
}
p {
    font-weight: normal;
    padding-bottom: 60px;
    font-family: "Sofia", sans-serif;
} 
sup {
    font-variant-caps:all-petite-caps;
}